# Nextflow
.nextflow.log*
.nextflow/
work/

# Results
results/

# VS Code
.vscode/

# Sequencing files
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.sam
*.vcf
*.vcf.gz

# QC reports
*.html
*.zip

# Reference genome
reference/

# macOS
.DS_Store

